*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color:#1F2937;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding:20px;
}
.logo{
    font-size:24px;
    color:#F9FAF8;
    font-weight:700;
    cursor:pointer;
}
.nav{
    font-size:18px;
    color:#E5E7EB;
    list-style:none;
    display:flex;
    gap:20px;
    cursor:pointer;
}